# Python
venv/
__pycache__/
*.py[cod]
*.sqlite3
db.sqlite3

# Environment variables
.env

# Django media & collected static
backend/media/
backend/staticfiles/

# Node/Vite
frontend-vite/node_modules/
frontend-vite/dist/
frontend-vite/.env

# Ignore Vite build output
/backend/templates/static/
/backend/templates/index.html
/staticfiles/


# Logs and cache
*.log
.DS_Store
*.bak
*.swp


